.dashboard {
  padding: 30px;

  h1 {
    font-weight: bold;
  }
  .button-flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    a {
      .addnew {
        padding: 10px 20px;
        font-size: 14px;
        color: #000000;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid rgba(0, 128, 0, 0.72);
        background: transparent;
        cursor: pointer;
      }
      :hover {
        background: rgba(0, 128, 0, 0.72);
        color: #fff;
      }
    }
  }
}
